<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search Snippet</title>
    <link rel="stylesheet" href="../static/search.css">
    <!-- <script>
            var jsonfile ={{results}};
          </script> -->
    <script>
        function CopyToClipboard(id)
        {
            var code = document.getElementById(id);
            code.select();
            document.execCommand("copy");
            console.log("Code coppied");
        }
        // 110417
    </script>
</head>

<body>
    <div class="bo">
        <div class="area">
            <br><br>
            <h1>SEARCHED BY : {{searchby}} </h1>
            <br><br>
            <ol>
                <!-- <div> -->
                {%for i in range(0, len)%}
                <br><br>
                <div id="grad1" style="position: relative; opacity: 0.5;">
                    <!-- <li></li> -->
                    <div>
                        <span style="float:left">
                            <h2 style="margin-left: 15px; margin-top: 15px;">Name : <strong>{{results[i]['name']}}</strong></h2>
                        </span>
                        <span style="float:right">
                            <h3 style="margin-right: 20px; margin-top: 15px;">Rating : {{results[i]['rating']}}</h3>
                        </span>
                    </div>
                    <br><br>
                    <br><br>
                    <h3 style="margin-left: 15px;">Description : {{results[i]['description']}}</h3>
                    <br>
                    <br>
                    <h3 style="margin-left: 15px;">Code : </h3>

                    <button style="margin-right: 30px; z-index: 10;" onclick="CopyToClipboard('code_'+{{i}})"> Copy </button>
                    <br>
                    <textarea style="margin-left: 100px; margin-top: 20px; width: 70%;height: 200px; margin: auto; border: 3px solid black; color: green; background-color:blanchedalmond; font-size:x-large;" id="code_{{i}}" readonly>{{results[i]['code']}}</textarea>
                    <!-- <div class="container" style="background-color: white; width: 70%;height: 200px; margin: auto; border: 3px solid green;">
                        <h3 style="margin-left: 30px; margin-top: 20px;" id='code_{{i}}'>{{results[i]['code']}}</h3>
                    </div> -->
                    
                    <br>
                    <br>
                    <h3 style="margin-left: 15px;">Submitted by : {{results[i]['sub']}}</h3>
                    <br>
                    <br>
                    <h3 style="margin-left: 15px;">Uploaded on : {{results[i]['update']}}</h3>
                    <br>
                    <br>
                </div>
                {%endfor%}
                <!-- </div> -->
            </ol>
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

</body>

</html>